.btn{
    border: 2px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-left: 130px;
    margin-top: 10px;
    transition: 1s;
    position: relative;
    overflow: hidden;
    width: 50%;
}

.btn1
{
    color: #3498db;
}

.btn1:hover{
    color: #fff;
    background-color: #3498db;
}

.btn::before{
    content: "";
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #3498db;
    z-index: -1;
    transition: 1s;
}

.btn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn1:hover::before{
    height: 180%;
}



*, *::after, *::before{
    box-sizing: border-box;
}

.modal2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 400ms ease-in-out;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 800px;
    height: 300px;
    max-width: 80%;
}

.modal2.active{
    transform: translate(-50%, -50%) scale(1);
}


.modal-head{
    padding: 10px  15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.modal-head .title{
    font-size: 1.25 rem;
    font-weight: bold;

}

.modal-head .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25 rem;
    font-weight: bold;
   
}

.modal-body{
    padding: 10px 15px;
}


#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

